<div style="display: flex; margin: 10px 0; justify-content: space-between;">
    <a href="/admin/products/add"  class="btn btn-success">Add</a>
    <a href="/admin/products/trash"  class="btn btn-danger">Trash</a>
</div>
<div class="table-responsive">
    <table style="text-align: center;" class="table table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Promotion Price</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(product){ %>
            <tr>
                <td><%= product.id %></td>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.promotion_price %></td>
                <td>
                    <img style="width: 100px; height: 100px;" src="<%= product.image %>" />
                </td>
                <td>
                    <a href="/admin/products/update/<%= product.slug %>" type="button" class="btn btn-success">Edit</a>
                    <a href="/admin/products/softDelete/<%= product.id %>" type="button" class="btn btn-danger" onclick="return confirm('Bạn có chắc muốn xóa ?')">Delete</a>
                </td>
            </tr>
            <% }) %>
        </tbody>   
    </table>
    <%- paginate %>
</div>